<header>
  <nav>
    <ul>
      <li>
        <a href="#about" id="about-nav">ABOUT</a>
      </li>
      <li>
        <a href="#skills" id="skills-nav">SKILLS</a>
      </li>
      <li>
        <a href="#experience" id="experience-nav">EXPERIENCE</a>
      </li>
      <li>
        <a href="#contact" id="contact-nav">CONTACT</a>
      </li>
    </ul>
  </nav>
</header>
<section class="mt-1">
  <pre>
┏━┓┏━┓━━┏┓━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┃┗┛┃┃━━┃┃━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┏┓┏┓┃┏┓┃┃━┏━━┓━┏━┓━━━━━━━━━━━━━━━━━━━━
┃┃┃┃┃┃┣┫┃┃━┗━┓┃━┃┏┓┓━━━━━━━━━━━━━━━━━━━
┃┃┃┃┃┃┃┃┃┗┓┃┗┛┗┓┃┃┃┃━━━━━━━━━━━━━━━━━━━
┗┛┗┛┗┛┗┛┗━┛┗━━━┛┗┛┗┛━━━━━━━━━━━━━━━━━━━
┏━━━┓━┏┓━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┏━┓┃┏┛┗┓━━━━━┏┓━━━━━━━━━━━━━━━━━━━━━━━
┃┗━━┓┗┓┏┛┏━━┓━┗┛┏━━┓━┏━┓━┏━━┓┏┓┏┓┏┓┏━━┓
┗━━┓┃━┃┃━┃┏┓┃━┏┓┗━┓┃━┃┏┓┓┃┏┓┃┃┗┛┃┣┫┃┏━┛
┃┗━┛┃━┃┗┓┃┗┛┃━┃┃┃┗┛┗┓┃┃┃┃┃┗┛┃┗┓┏┛┃┃┃┗━┓
┗━━━┛━┗━┛┗━━┛━┃┃┗━━━┛┗┛┗┛┗━━┛━┗┛━┗┛┗━━┛
━━━━━━━━━━━━━┏┛┃━━━━━━━━━━━━━━━━━━━━━━━
━━━━━━━━━━━━━┗━┛━━━━━━━━━━━━━━━━━━━━━━━</pre
  >
  <span><b>Name:</b> Milan Stojanovic</span><br />
  <span><b>Title:</b> Software Engineer</span><br />
</section>
<section id="about">
  <div class="flex flex-align-bottom flex-justify-start">
    <pre>
┏━━━┓┓┃┃┃┃┃┃┃┃┏┓┃┃┃┃
┃┏━┓┃┃┃┃┃┃┃┃┃┃┛┗┓┃┃┃
┃┃┃┃┃┗━┓━━┓┓┏┓┓┏┛┃┃┃
┃┗━┛┃┏┓┃┏┓┃┃┃┃┃┃┃┃┃┃
┃┏━┓┃┗┛┃┗┛┃┗┛┃┃┗┓┃┃┃
┗┛┃┗┛━━┛━━┛━━┛┗━┛┃┃┃
┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃
┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃
</pre
    >
    <pre id="profile" style="white-space: pre; font-size: 3px"></pre>
  </div>
  <div>
    <p>
      Second-generation American, college grad, and computer nerd - born and
      raised in the charming village of West Allis, WI.
    </p>
    <br />
    <p>
      Passionate and detail-oriented software engineer with over three years of
      experience in full-stack development, specializing in building scalable,
      high-volume systems. Proven track record of delivering clean, efficient
      code in Java, React, and AWS environments. Adept at collaborating across
      teams, troubleshooting production issues, and contributing to the
      development of high-impact, user-focused platforms.
    </p>
    <br />
    <p>
      Feel free to browse this site, check-out some highlights, and visit my
      socials. If you'd like to connect, visit my LinkedIn or feel free to reach
      out using the contact form at the bottom of this page.
    </p>
    <br />
    <p>I'll be sure to hit you back as soon as possible.</p>
    <br />
    <p>-Milan</p>
  </div>
  <div class="flex flex-align-center flex-justify-center mt-2">
    <ul
      class="flex flex-align-center flex-justify-center flex-gap-3 hover-icon"
      style="list-style-type: none"
    >
      <li>
        <a href="https://www.linkedin.com/in/stojano6/" class="icon-link">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/milan-stoj" class="icon-link">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/milstojanovic" class="icon-link">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.strava.com/athletes/65058135" class="icon-link">
          <i class="fab fa-strava"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
<section id="skills">
  <pre>
┏━━━┓┏┓━━━━┏┓━┏┓━━━━━
┃┏━┓┃┃┃━━━━┃┃━┃┃━━━━━
┃┗━━┓┃┃┏┓┏┓┃┃━┃┃━┏━━┓
┗━━┓┃┃┗┛┛┣┫┃┃━┃┃━┃━━┫
┃┗━┛┃┃┏┓┓┃┃┃┗┓┃┗┓┣━━┃
┗━━━┛┗┛┗┛┗┛┗━┛┗━┛┗━━┛
━━━━━━━━━━━━━━━━━━━━━
━━━━━━━━━━━━━━━━━━━━━
  </pre>
  <div class="flex flex-column flex-gap-3">
    <div class="flex flex-column flex-gap-1">
      <span
        ><h1><i class="fas fa-desktop"></i> Front-End Development</h1></span
      >
      <ul class="flex-column">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Qt</li>
        <li>HMI</li>
      </ul>
    </div>
    <div
      class="flex flex-column flex-gap-1"
      data-aos="fade-in"
      data-aos-delay="1200"
    >
      <span
        ><h1><i class="fas fa-code"></i> Back-End Development</h1></span
      >
      <ul class="flex-column">
        <li>Java</li>
        <li>SQL</li>
        <li>Python</li>
        <li>C#</li>
        <li>Arduino/Raspberry Pi</li>
      </ul>
    </div>
    <div class="flex flex-column flex-gap-1">
      <span
        ><h1><i class="fas fa-industry"></i> Quality Engineering</h1></span
      >
      <ul class="flex-column">
        <li>Manufacturing Concepts</li>
        <li>Inspection Process Design</li>
        <li>Process Improvement</li>
        <li>LEAN/6σ</li>
        <li>Kaizen</li>
      </ul>
    </div>
    <div class="flex flex-column flex-gap-1">
      <span
        ><h1><i class="fas fa-cogs"></i> Mechanical Engineering</h1></span
      >
      <ul class="flex-column">
        <li>Mechanical Design</li>
        <li>Thermofluids</li>
        <li>SolidWorks/Creo</li>
        <li>Finite Element Analysis</li>
        <li>Rapid Prototyping</li>
      </ul>
    </div>
  </div>
</section>
<section id="experience">
  <pre>
┏━━━┓━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┏━━┛━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┗━━┓┏┓┏┓┏━━┓┏━━┓┏━┓┏┓┏━━┓┏━┓━┏━━┓┏━━┓
┃┏━━┛┗╋╋┛┃┏┓┃┃┏┓┃┃┏┛┣┫┃┏┓┃┃┏┓┓┃┏━┛┃┏┓┃
┃┗━━┓┏╋╋┓┃┗┛┃┃┃━┫┃┃━┃┃┃┃━┫┃┃┃┃┃┗━┓┃┃━┫
┗━━━┛┗┛┗┛┃┏━┛┗━━┛┗┛━┗┛┗━━┛┗┛┗┛┗━━┛┗━━┛
━━━━━━━━━┃┃━━━━━━━━━━━━━━━━━━━━━━━━━━━
━━━━━━━━━┗┛━━━━━━━━━━━━━━━━━━━━━━━━━━━
    </pre
  >
  <div>
    <ul
      class="flex flex-column flex-align-left flex-gap-3"
      style="list-style-type: none"
    >
      <li>
        <h1>Software Engineer II</h1>
        <h2>Northwestern Mutual - Milwaukee, WI</h2>
        <p class="mb-1">
          <i class="fas fa-calendar-alt"></i> Mar 2022 - Present
        </p>
        <p class="quote-block">
          Engineer on the product administration platform team.
          Developed and deployed high-availability backend services in Java,
          focusing on handling financial product data using AWS cloud
          infrastructure. Developed a React front-end to display and interact
          with financial product data.
        </p>
      </li>
      <li>
        <h1>Software Engineer Trainee/Contractor</h1>
        <h2>Genesis10 - Milwaukee, WI</h2>
        <p class="mb-1">
          <i class="fas fa-calendar-alt"></i> Dec 2020 - Mar 2022
        </p>
        <p class="quote-block">
          Got picked for the December 2020 Milwaukee Cohort of the Dev10
          Program. Learned Java and React Full Stack Development.
        </p>
      </li>
      <li>
        <h1>Quality Engineer</h1>
        <h2>SPX Transformer Solutions - Waukesha, WI</h2>
        <p class="mb-1">
          <i class="fas fa-calendar-alt"></i> Jan 2018 - Jun 2020
        </p>
        <p class="quote-block">
          Worked on quality engineering for transformer coil winding, insulation
          fabrication, and assembly processes. Led a team to develop solutions
          to manufacturing problems. Created detailed reports with data analysis
          and recommendations for improvements. Used statistical process control
          (SPC) methods to monitor and maintain quality consistency.
        </p>
      </li>
      <li>
        <h1>Quality Engineer</h1>
        <h2>Masterlock Corporation - Milwaukee, WI</h2>
        <p class="mb-1"><i class="fas fa-calendar-alt"></i> Jun 2017 - Dec 2017</p>
        <p class="quote-block">
          Learned the ropes of being a Quality/Reliability engineer. Got
          hands-on with test development, test automation, and a bunch of
          improvement projects. Built a lock-testing system using Raspberry Pi,
          Python, and motor drives. Reassembled and prototyped a robotic system
          to automate testing of digital safes. 
        </p>
      </li>
      <li>
        <h1>Student</h1>
        <h2>University of Wisconsin - Milwaukee</h2>
        <p class="mb-1"><i class="fas fa-calendar-alt"></i> Sep 2013 - Dec 2017</p>
        <p class="quote-block">
          Bachelor of Science, Engineering (3.3 GPA). Member of the UWM Prototyping
          Club
        </p>
      </li>
    </ul>
  </div>
</section>
<section id="contact">
  <pre>
┏━━━┓┃┃┃┃┃┃┏┓┃┃┃┃┃┃┃┃┏┓┃
┃┏━┓┃┃┃┃┃┃┃┛┗┓┃┃┃┃┃┃┃┛┗┓
┃┃┃┗┛━━┓━┓┃┓┏┛━━┓┃━━┓┓┏┛
┃┃┃┏┓┏┓┃┏┓┓┃┃┃┃┓┃┃┏━┛┃┃┃
┃┗━┛┃┗┛┃┃┃┃┃┗┓┗┛┗┓┗━┓┃┗┓
┗━━━┛━━┛┛┗┛┗━┛━━━┛━━┛┗━┛
┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃
    </pre
  >
  <div>
    <form
      action="https://formspree.io/mlepvapv"
      method="POST"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      <label>
        Your name:
        <input type="text" name="_sendername" />
      </label>
      <label>
        Your email:
        <input type="text" name="_replyto" />
      </label>
      <label>
        Your message:
        <textarea type="text" name="message" rows="8"></textarea>
      </label>

      <!-- other form fields here -->

      <button class="mb-3" type="submit"><b>Send</b></button>
    </form>
  </div>
</section>
<footer class="flex flex-column flex-gap-3 mt-3 pb-1">
  <div class="flex flex-align-center flex-justify-center">
    <ul
      class="flex flex-align-center flex-justify-center flex-gap-3 hover-icon"
      style="list-style-type: none"
    >
      <li>
        <a href="https://www.linkedin.com/in/stojano6/" class="icon-link">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/milan-stoj" class="icon-link">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/milstojanovic" class="icon-link">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.strava.com/athletes/65058135" class="icon-link">
          <i class="fab fa-strava"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="flex flex-align-center flex-justify-center">
    <p>&copy; 2025 Milan Stojanovic</p>
  </div>
</footer>
