<header>
  <nav>
    <ul>
      <li>
        <a href="#skills" class="nav-link">SKILLS</a>
      </li>
      <li>
        <a href="#experience" class="nav-link">EXPERIENCE</a>
      </li>
      <li>
        <a href="#contact" class="nav-link">CONTACT</a>
      </li>
    </ul>
  </nav>
</header>
<section class="mt-1">
  <pre>
┏━┓┏━┓━━┏┓━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┃┗┛┃┃━━┃┃━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┏┓┏┓┃┏┓┃┃━┏━━┓━┏━┓━━━━━━━━━━━━━━━━━━━━
┃┃┃┃┃┃┣┫┃┃━┗━┓┃━┃┏┓┓━━━━━━━━━━━━━━━━━━━
┃┃┃┃┃┃┃┃┃┗┓┃┗┛┗┓┃┃┃┃━━━━━━━━━━━━━━━━━━━
┗┛┗┛┗┛┗┛┗━┛┗━━━┛┗┛┗┛━━━━━━━━━━━━━━━━━━━
┏━━━┓━┏┓━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┏━┓┃┏┛┗┓━━━━━┏┓━━━━━━━━━━━━━━━━━━━━━━━
┃┗━━┓┗┓┏┛┏━━┓━┗┛┏━━┓━┏━┓━┏━━┓┏┓┏┓┏┓┏━━┓
┗━━┓┃━┃┃━┃┏┓┃━┏┓┗━┓┃━┃┏┓┓┃┏┓┃┃┗┛┃┣┫┃┏━┛
┃┗━┛┃━┃┗┓┃┗┛┃━┃┃┃┗┛┗┓┃┃┃┃┃┗┛┃┗┓┏┛┃┃┃┗━┓
┗━━━┛━┗━┛┗━━┛━┃┃┗━━━┛┗┛┗┛┗━━┛━┗┛━┗┛┗━━┛
━━━━━━━━━━━━━┏┛┃━━━━━━━━━━━━━━━━━━━━━━━
━━━━━━━━━━━━━┗━┛━━━━━━━━━━━━━━━━━━━━━━━</pre
  >
  <span><b>Name:</b> Milan Stojanovic</span><br />
  <span><b>Title:</b> Software Engineer</span><br />
</section>
<section>
  <pre>
┏━━━┓┓┃┃┃┃┃┃┃┃┏┓┃┃┃┃
┃┏━┓┃┃┃┃┃┃┃┃┃┃┛┗┓┃┃┃
┃┃┃┃┃┗━┓━━┓┓┏┓┓┏┛┃┃┃
┃┗━┛┃┏┓┃┏┓┃┃┃┃┃┃┃┃┃┃
┃┏━┓┃┗┛┃┗┛┃┗┛┃┃┗┓┃┃┃
┗┛┃┗┛━━┛━━┛━━┛┗━┛┃┃┃
┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃
┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃
</pre
  >
  <div>
    <p>
      Second-generation American, college grad, and computer nerd - born and
      raised in the charming village of West Allis, WI.
    </p>
    <br />
    <p>
      Passionate and detail-oriented software engineer with over three years of
      experience in full-stack development, specializing in building scalable,
      high-volume systems. Proven track record of delivering clean, efficient
      code in Java, React, and AWS environments. Adept at collaborating across
      teams, troubleshooting production issues, and contributing to the
      development of high-impact, user-focused platforms.
    </p>
    <br />
    <p>
      Feel free to browse this site, check-out some highlights, and visit my
      socials. If you'd like to connect, visit my LinkedIn or feel free to reach
      out using the contact form at the bottom of this page.
    </p>
    <br />
    <p>I'll be sure to hit you back as soon as possible.</p>
    <br />
    <p>-Milan</p>
  </div>
  <div class="flex flex-align-center flex-justify-center mt-2">
    <ul
      class="flex flex-align-center flex-justify-center flex-gap-3 hover-icon"
      style="list-style-type: none"
    >
      <li>
        <a href="https://www.linkedin.com/in/stojano6/" class="icon-link">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/milan-stoj" class="icon-link">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/milstojanovic" class="icon-link">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.strava.com/athletes/65058135" class="icon-link">
          <i class="fab fa-strava"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
<section id="skills">
  <pre>
┏━━━┓┏┓━━━━┏┓━┏┓━━━━━
┃┏━┓┃┃┃━━━━┃┃━┃┃━━━━━
┃┗━━┓┃┃┏┓┏┓┃┃━┃┃━┏━━┓
┗━━┓┃┃┗┛┛┣┫┃┃━┃┃━┃━━┫
┃┗━┛┃┃┏┓┓┃┃┃┗┓┃┗┓┣━━┃
┗━━━┛┗┛┗┛┗┛┗━┛┗━┛┗━━┛
━━━━━━━━━━━━━━━━━━━━━
━━━━━━━━━━━━━━━━━━━━━
  </pre>
  <div class="flex flex-column flex-gap-3">
    <div class="flex flex-column flex-gap-1">
      <span
        ><h1><i class="fas fa-cogs"></i> Mechanical Engineering</h1></span
      >
      <ul class="flex-column">
        <li>Mechanical Design</li>
        <li>Thermofluids</li>
        <li>SolidWorks/Creo</li>
        <li>Finite Element Analysis</li>
        <li>VBA/MS-Office Suite</li>
      </ul>
    </div>
    <div class="flex flex-column flex-gap-1">
      <span
        ><h1><i class="fas fa-industry"></i> Quality Engineering</h1></span
      >
      <ul class="flex-column">
        <li>Manufacturing Concepts</li>
        <li>Inspection Process Design</li>
        <li>Process Improvement</li>
        <li>LEAN/6σ</li>
        <li>Kaizen</li>
      </ul>
    </div>
    <div class="flex flex-column flex-gap-1">
      <span
        ><h1><i class="fas fa-desktop"></i> Front-End Development</h1></span
      >
      <ul class="flex-column">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>Bootstrap</li>
        <li>React</li>
        <li>Qt</li>
      </ul>
    </div>
    <div
      class="flex flex-column flex-gap-1"
      data-aos="fade-in"
      data-aos-delay="1200"
    >
      <span
        ><h1><i class="fas fa-code"></i> Back-End Development</h1></span
      >
      <ul class="flex-column">
        <li>C#/ASP.NET</li>
        <li>Java</li>
        <li>Python</li>
        <li>SQL DB2/zOS</li>
        <li>Arduino/Raspberry Pi</li>
      </ul>
    </div>
  </div>
</section>
<section id="experience">
  <pre>
┏━━━┓━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┏━━┛━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
┃┗━━┓┏┓┏┓┏━━┓┏━━┓┏━┓┏┓┏━━┓┏━┓━┏━━┓┏━━┓
┃┏━━┛┗╋╋┛┃┏┓┃┃┏┓┃┃┏┛┣┫┃┏┓┃┃┏┓┓┃┏━┛┃┏┓┃
┃┗━━┓┏╋╋┓┃┗┛┃┃┃━┫┃┃━┃┃┃┃━┫┃┃┃┃┃┗━┓┃┃━┫
┗━━━┛┗┛┗┛┃┏━┛┗━━┛┗┛━┗┛┗━━┛┗┛┗┛┗━━┛┗━━┛
━━━━━━━━━┃┃━━━━━━━━━━━━━━━━━━━━━━━━━━━
━━━━━━━━━┗┛━━━━━━━━━━━━━━━━━━━━━━━━━━━
    </pre
  >
  <div>
    <ul
      class="flex flex-column flex-align-left flex-gap-3"
      style="list-style-type: none"
    >
      <li>
        <h1>Software Engineer II</h1>
        <h2>Northwestern Mutual</h2>
        <p class="mb-1">Mar 2022 - Present</p>
        <p>
          Software Engineer on Information Solution Design (ISD) team. Building
          skills in SQL stored procedures, data governance, and mainframe (DB2
          z/OS).
        </p>
      </li>
      <li>
        <h1>Dev10 Consultant - Genesis10</h1>
        <h2 class="mb-1">Feb 2021 - Mar 2022</h2>
        <p>
          Software Development/Engineering consultant for Milwaukee based
          Genesis10 clients.
        </p>
      </li>
      <li>
        <h1>Dev10 Trainee - Genesis10</h1>
        <h2 class="mb-1">Dec 2020 - Feb 2021</h2>
        <p>
          Selected to join the December 2020 Milwaukee Cohort for the Dev10
          Program. Consultant training in Java and React Full Stack Development.
        </p>
      </li>
      <li>
        <h1>Student - devCodeCamp</h1>
        <h2 class="mb-1">Jul 2020 - Oct 2020</h2>
        <p>12 immersive weeks of hands-on software development training.</p>
      </li>
      <li class="date" data-date="Jan 2018 - Jun 2020">
        <h1>Quality Engineer - SPX Transformer Solutions</h1>
        <h2 class="mb-1">Jan 2018 - Jun 2020</h2>
        <p>
          Quality engineer for transformer coil winding, insulation-fabrication,
          and external-component assembly processes. Lead a cross-functional
          team in the development of corrective/preventative actions to reduce
          non-conformance's.
        </p>
      </li>
      <li class="date" data-date="Jun 2017 - Dec 2017">
        <h1>Quality Engineer - Masterlock Corporation</h1>
        <h2 class="mb-1">Jun 2017 - Dec 2017</h2>
        <p>
          Learned and performed the basic roles of a Quality/Reliability
          Engineer. Actively participated in test development and several
          continuous improvement projects.
        </p>
      </li>
      <li class="date" data-date="Sep 2013 - Dec 2017">
        <h1>University of Wisconsin Milwaukee - Student</h1>
        <h2 class="mb-1">Sep 2013 - Dec 2017</h2>
        <p>
          Bachelor of Science, Engineering (3.3 GPA). Member of UWM Prototyping
          Club
        </p>
      </li>
    </ul>
  </div>
</section>
<section id="contact">
  <pre>
┏━━━┓┃┃┃┃┃┃┏┓┃┃┃┃┃┃┃┃┏┓┃
┃┏━┓┃┃┃┃┃┃┃┛┗┓┃┃┃┃┃┃┃┛┗┓
┃┃┃┗┛━━┓━┓┃┓┏┛━━┓┃━━┓┓┏┛
┃┃┃┏┓┏┓┃┏┓┓┃┃┃┃┓┃┃┏━┛┃┃┃
┃┗━┛┃┗┛┃┃┃┃┃┗┓┗┛┗┓┗━┓┃┗┓
┗━━━┛━━┛┛┗┛┗━┛━━━┛━━┛┗━┛
┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃
    </pre
  >
  <div>
    <form
      action="https://formspree.io/mlepvapv"
      method="POST"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      <label>
        Your name:
        <input type="text" name="_sendername" />
      </label>
      <label>
        Your email:
        <input type="text" name="_replyto" />
      </label>
      <label>
        Your message:
        <textarea type="text" name="message" rows="8"></textarea>
      </label>

      <!-- other form fields here -->

      <button class="mb-3" type="submit"><b>Send</b></button>
    </form>
  </div>
</section>
<footer class="flex flex-column flex-gap-3 mt-3 pb-1">
  <div class="flex flex-align-center flex-justify-center">
    <ul
      class="flex flex-align-center flex-justify-center flex-gap-3 hover-icon"
      style="list-style-type: none"
    >
      <li>
        <a href="https://www.linkedin.com/in/stojano6/" class="icon-link">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/milan-stoj" class="icon-link">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/milstojanovic" class="icon-link">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.strava.com/athletes/65058135" class="icon-link">
          <i class="fab fa-strava"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="flex flex-align-center flex-justify-center">
    <p>&copy; 2025 Milan Stojanovic</p>
  </div>
</footer>
