:root {
    --primary-color: cyan;
    --secondary-color: #1e1e1e;
    --glow-color: rgba(0, 255, 255, 0.5);
    --shadow-color: cyan;
    --hover-color: cyan;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body, html {
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-sizing: border-box;
    font-family: monospace;
}

body {
    padding: 1rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

a:hover {
    color: var(--hover-color); /* Slightly different cyan color on hover */
}

@keyframes maximize {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes minimize {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.terminal {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 300px;
    min-width: 300px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    max-width: 1080px;
    max-height: 720px;
    transform-origin: left;
    transform: scale(0); /* Initially minimized */
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.4s ease-in-out; /* Smooth transition */
}

.terminal img {
    filter: hue-rotate(180deg) saturate(2) brightness(1.2);
}

.terminal.maximize {
    opacity: 1;
    transform: scale(1);
}

.terminal.minimize {
    opacity: 0;
    transform: scale(0);
}

.terminal-header {
    background-color: #333;
    position: relative;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; /* Prevent shrinking */
    overflow: hidden;
}

.terminal-buttons {
    display: flex;
    gap: 5px;
}

.terminal-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.terminal-button.red {
    background-color: #ff5f56;
}

.terminal-button.yellow {
    background-color: #ffbd2e;
}

.terminal-button.green {
    background-color: #27c93f;
}

.theme-selector {
    display: flex;
    padding-right: 32px;
    width: 128px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.color-flag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.color-flag{
    overflow: hidden;
    width: 16px; /* Adjust the size as needed */
    height: 50px; /* Ensure the height matches the width to create a square */
    position: absolute;
    transform: rotate(30deg);
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
    transition: box-shadow 0.3s ease, transform 1s ease; /* Smooth transition for the effects */
}

.color-flag.active {
    box-shadow: 
        inset 2px 2px 5px rgba(0, 0, 0, 0.75), /* Embossed effect */
        inset -2px -2px 5px rgba(0, 0, 0, 0.75); /* Embossed effect */
}


.color-flag.red {
    background-color: #FF6347; /* Tomato */
}

.color-flag.green {
    background-color: #32CD32; /* Lime Green */
}

.color-flag.blue {
    background-color: cyan; /* Dodger Blue */
}

.terminal-body {
    overflow-y: auto; /* Make the terminal body scrollable */
    overflow-x: hidden;
    padding: 20px;
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--glow-color);
    flex-grow: 1; /* Allow the terminal body to grow and take available space */
    position: relative;
}

pre {
    margin: 0;
    white-space: pre-wrap;
}

.terminal-body header {
    z-index: 9999;
    top: -20px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: var(--secondary-color);
    margin-top: -20px;
    margin-left: -20px; /* Offset the left padding */
    margin-right: -20px; /* Offset the right padding */
    margin-bottom: 20px;
    border-bottom: var(--primary-color) 2px solid;
    box-shadow: 0 0 10px var(--glow-color); /* Add blue glowing effect */
}

.terminal-body footer {
    padding-top: 3rem;
    background-color: #1e1e1e;
    margin-bottom: -20px;
    margin-left: -20px; /* Offset the left padding */
    margin-right: -20px; /* Offset the right padding */
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3rem;
    border-top: var(--primary-color) 2px solid;
    box-shadow: 0 0 10px var(--glow-color); /* Add blue glowing effect */
}

.terminal-body section::before {
    content: "";
    display: block;
    height: 80px; /* Adjust this value based on the height of your header */
    margin-top: -80px; /* Adjust this value based on the height of your header */
    visibility: hidden;
}

nav {
    margin-left: -20px; /* Offset the left padding */
    margin-right: -20px; /* Offset the right padding */
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%; /* Ensure the nav takes the full width */
}

nav ul {
    margin-left: -20px; /* Offset the left padding */
    margin-right: -20px; /* Offset the right padding */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 3; /* Remove gap to ensure even distribution */
    flex-direction: row;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content within each li */
    height: 100%;
    flex: 1; /* Distribute space evenly */
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover,
nav ul li a.active {
    background-color: var(--primary-color);
    color: #1e1e1e;
}

nav ul li + li {
    border-left: 2px solid var(--primary-color); /* Add vertical border between items */
}

.grid {
    display: grid;
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)); /* Adjust the minmax value as needed */
    gap: 3rem;
}

.border-box {
    border: 1px solid var(--primary-color);
    padding: 1rem;
}

.quote-block {
    border-left: 1px solid var(--primary-color); /* Adjust the color and width as needed */
    padding-left: 16px; /* Add some padding to create space between the line and the text */
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}
.pb-2 {

}
.pb-1 {
    padding-bottom: 1rem;
}

.flex-container {
    display: flex;
    gap: 1rem;
}

.flex-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.hover-icon i{
    font-size: 3rem;
    color: #1e1e1e;
   transition: color 650ms;
}

.fa-linkedin:hover{
    color: #0072b1;
}

.fa-github-square:hover{
    color: #F1502F;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-strava:hover{
    color: #fc4c02;
}

.terminal-body section {
    margin-top: 5rem;
}

.terminal-body pre {
    margin-bottom: 2rem;
}

ul {
    list-style-position: inside;
}

/* Flexbox utility classes */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-gap-1 {
    gap: 1rem;
}

.flex-gap-2 {
    gap: 2rem;
}

.flex-gap-3 {
    gap: 3rem;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-evenly {
    justify-content: space-evenly;
}

form{
    width: 100%;
}

form label{
    font-weight: bold;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0;
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--glow-color);
    margin-bottom: 1rem;
    border: 2px solid var(--primary-color);
    font-family: monospace;
}

button {
    width: initial;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-color);
    transition: background-color 650ms;
    animation: pulse 2s infinite;
}

button:hover{
    color: #008080;
    background-color: #F1502F;
}


/* Medium devices (tablets, 600px to 900px) */
@media (max-width: 900px) {
    html {
        font-size: 10px; /* Medium font size for tablets */
    }
}

/* Large devices (desktops, 900px and up) */
@media (min-width: 901px) {
    html {
        font-size: 12px; /* Default font size for desktops */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 14px; /* Larger font size for large desktops */
    }
}

/* Responsive design for landscape phone screens */
@media (max-width: 1100px) and (orientation: landscape) {
    html {
        font-size: 10px; /* Adjust font size for landscape orientation */
    }
}